body {
    background-color: #27374D;
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}


table {
    margin:auto;
    border-collapse: collapse;
}

.cell {
    width: 50px;
    height: 50px;
    /* border: 2px solid #dde6ed90; */
    box-shadow: 0 0 4px black;
    background-color: #dde6ed;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.cell:hover {
    background-color: #bcc4ca;
}

footer {
    margin-top: 25vh;
    font-size: 30px;
    color: #dde6ed;
    text-shadow: 0 0 7px rgb(192, 225, 255);
    
}

#timer {
    color: #DDE6ED;
    margin: 30px auto;
    font-size: 20px;
}

.modal {
    display: none;
    border: solid 3px grey;
    width: 300px;
    height: 200px;
    background-color: #27374D;
    color: black;
    font-size: 32px;
    color: #DDE6ED;
    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
    top: calc(50% - 350px)
}

.btn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.676);
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    color: #DDE6ED;
    font-size: 40px;
}

.life {
    height: 70px;
    line-height:80px;
    font-size: 40px;
    width: 200px;
    margin: auto;

}

.restart h1 {
    margin:10px auto;
    width: 50px;
    height: 50px;
    line-height:60px;
    border-radius: 50%;
    background-color: #1a293e;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.175);
    cursor: pointer;
}

.hints {
    width: 180px;
    margin: 0px auto;
}

.hint1 {
    all: unset;
    font-size: 35px;
    border-radius: 50%;
    width: 50px;
    padding: 7px;
}

.hint2 {
    all: unset;
    font-size: 35px;
    border-radius: 50%;
    width: 50px;
    padding: 7px;
}

.hint3 {
    all: unset;
    font-size: 35px;
    border-radius: 50%;
    width: 50px;
    padding: 7px;
}

#easy-scores-list li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

#easy-scores-list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    color: wheat;
    font-size: 20px;
}

#med-scores-list li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
#med-scores-list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    color: wheat;
    font-size: 20px;
}

#hard-scores-list li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
#hard-scores-list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    color: wheat;
    font-size: 20px;
}

